@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-red: #dd0033;
    --brand-red-hover: #b9002a;
    --brand-cyan: #00c4dd;
    --brand-cyan-hover: #00a5bb;
  }
}
